/* This is a comment */

/* Centering an image horizontally is actually harder than some might think. This is a trick to make it work. */


/* The image that is NOT inside the div will be 50px and not centered. */
img {
  width: 50px;
}

/* The image that IS inside the div will be 100px and will be centered. */
/* You can use .centered (with the dot) to apply CSS to things with class="centered". */
.centered img {
  width: 100px;
  
  /* This odd combination of properties will center your image, but ONLY if it's inside the div. */
  display: block;
  margin: auto;
}

/* This centers text that is inside a div. Note that the way of centering text is different from images. */
div h3 {
  text-align: center;
}

/* You can use .table (with the dot) to apply CSS to things with class="table". Same with .cell to things with class="cell". */
.table {
  display: table;
}

.table .cell {
  display: table-cell;
}

.table .cell-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}


/* This uses Flexbox, a newer approach which can help simplify things. */
.aligned {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
